p {
 font-family: Arial;
 color: red;
}

h1 {
  font-family: Georgia;
  font-size: 20px;
  font-weight: bold;
  background-color: DodgerBlue;
  text-align: center;
}

h2 {
  font-family: Georgia;
  font-size: 15px;
}
