p {
 font-family: Arial;

}

h1 {
  font-family: Georgia;
  font-size: 50px;
  font-weight: bold;
  background-color: DodgerBlue;
  text-align: center;
}

h2 {
  font-family: Georgia;
  font-size: 15px;
  color: red;
}
