button {
  background-color: rgb(73 97 142);
  border: 0px;
  font-size: 30px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-family: impact;
}

.navBar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  text-align: center;
  background-color: rgb(73 97 142);
  padding: 10px;
  font-style: bold;
  font-size: 30px;
}
.home {
  grid-column: 1;
  grid-row: 1;
  font-size: 30px;
  font-family: Arial;
}
.destinations {
  grid-column: 2;
  grid-row: 1;
  font-family: Arial;
}
.help {
  grid-column: 3;
  grid-row: 1;
  font-family: Arial;
}

.logIn {
  grid-column: 4;
  grid-row: 1;
  font-family: Arial;
}

.finder {
  display: grid;
  grid-template-columns: (3, 1fr);
  grid-gap: 20px;
  grid-template-rows: (2, 1fr);
  text-align: center;
}

#searchPlace {
  font-size: 40px;
  grid-column: 2;
  grid-row: 1;
}

#searchPlaces {
  font-size: 40px;
  grid-column: 2;
  grid-row: 2;
}

#space1 {
  grid-column: 3;
  grid-row: 2;
}

.BP {
  background-image: url("../assets/titlePicture.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
}
