.title {
  text-align: center;
  font-size: 40px;
  font-family: impact;
}

.navBar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  text-align: center;
  background-color: rgb(73 97 142);
  padding: 5px;
  font-style: bold;
  font-size: 30px;
}
.home {
  grid-column: 1;
  grid-row: 1;
  font-size: 30px;
  font-family: Arial;
}
.destinations {
  grid-column: 2;
  grid-row: 1;
  font-family: Arial;
}
.help {
  grid-column: 3;
  grid-row: 1;
  font-family: Arial;
}

.logIn {
  grid-column: 4;
  grid-row: 1;
  font-family: Arial;
}

button {
  background-color: rgb(73 97 142);
  border: 0px;
  font-size: 20px;
}
